section{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 55%;
    border: black solid 2px;
    border-radius: 10px;
}
.sliders{
    margin-left: 20px;
}
.vierkant{
    margin-left: 20px;
    display: flex;
    align-items: center;
    border: lightgrey solid 1px ;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

span{
    margin-left: 10px;
}