body{
    width: 95%;
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
}

header{
    width: 70%;
    text-align: right;
}

section article{
    position:relative;
    width: 70%;
}

header + article{
    text-align: center;
    float: right;
    width: 25%;
    height:140%;
    padding:15px;
    padding-top: 30px;
    margin:10px;
    box-sizing: content-box;
    border: 1px solid black;
    background-image: url("../begin_cocktail_bar/images/cocktail.gif");
    background-repeat: repeat-x;
}

header+article h1{
    font-size:130%;
    color:black;
}

header+article h2{
    font-size:110%;
    color:brown;
}

header + article a:hover{
    background: saddlebrown;
}
body a{
    color: black;
    text-decoration: underline;
}

#guarantee{
    font-family: Arial,sans-serif ;
    font-style: italic;
    margin: 30px;
    padding:20px;
    color: #444444;
    background-color: #a7cece;
    border: white dashed;
}

#guarantee img{
    position: relative;
    float: left;
    bottom: 25px;
    right: 10px;
}

h1{
    font-size: 150%;
    color: #007e7e;
}

h2 {
    font-size: 130%;
    color: #007e7e;
}

footer{
    clear: both;
    text-align: center;
    font-size: 50%;
}