#playField {
    height: 800px;
    width: 600px;
    position: relative;
    border: black solid 1px;
}

#bomb{
    position: absolute;
}

.hide{
    display: none;
}

#target {
    position: absolute;
}